h1 {
    text-align: center;
    color: green;
    font-family: Arial, sans-serif;
}

table {
    width: 80%;
    border: 2px blue;
}

td {
    padding: 10px;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

input[type="text"] {
    width: 95%;
    height: 35px;
    padding: 5px;
    font-size: 16px;
    color: grey;
    border: 2px solid greenyellow
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="button"] {
    margin: 20px auto;
    padding: 10px 30px;
    font-size: 16px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"] {
    background-color: yellow;
}